/*elements relevant for header (section 1/4)*/
.header-container{
    display: flex;
}

.header{
    display: flex;
}

ul{
    display: flex;
    gap: 20px;
    color: white;
    text-decoration: none;
}

a{
    color: red;
    text-decoration: none;
}

/*elements relevant for cards (section 2/4)*/
.card-container{
    display: flex;
    margin-bottom: 20px;
}

.card-flexbox{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
}

/*elements relevant for quote (section 3/4)*/
.pullquote-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pullquote{
    color: red;
}

.quoted{
    color: red;
}















/* working fine don't touch for a while.  */

img{
    box-sizing: border-box;
    height: 88px;
    width: 88px;
    object-fit: cover;
}

.text{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}