/*elements relevant for header (section 1/6)*/
.header-container{
    height: 300px;
    align-items: center;
    background-color: #1f2937;
}

.header{
    display: flex;
    padding: 10px;
    color: #f9faf8;
    font-size: 28px;
    margin-left: 10%;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 20px;
    color:#f9faf8;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}

a{
    color: #f9faf8;
    text-decoration: none;
}

/*elements relevant for title (section 2/6)*/
.blue-box-container{
    display: flex;
    justify-content: space-between
}

.blue-box-flexbox{
    display: flex;
    justify-content: center;

}

.title-container{
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 700px;
    align-items: center;
    flex:1 1 0;

}

.dawn{
    font-size: 48px;
    font-weight: 1000;
    color: #e5e7eb;
    margin-bottom: -15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

h4{
    font-size: 18px;
    color: #e5e7eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.moon{
    height: 200px;
    width: 400px;
    
    
}

/*elements relevant for cards (section 3/6)*/
.card-container{
    display: flex;
    margin-bottom: 20px;
}

.card-flexbox{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
}

/*elements relevant for quote (section 4/6)*/
.pullquote-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pullquote{
    color: red;
}

.quoted{
    color: red;
}

/*elements relevant for singup (section 5/6)*/
.signup-container{
    display: flex;
    margin-bottom: 20px;
}

.signup-flexbox{
    display: flex;
    flex-direction: column;
}

.call-to-action{
    color: red;

}

.signup-details{
    color: red;
}

/*elements relevant for footer (section 6/6)*/
.footer-container{
    display: flex;
}

.footer-text{
    color: red;
}













/* working fine don't touch for a while.  */

img{
    box-sizing: border-box;
    height: 88px;
    width: 88px;
    object-fit: cover;
}

.text{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}